@mixin text-base($font-size: 16px) {
  font-family: 'Nunito Sans', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: $font-size;
  font-style: normal;
  font-variation-settings:
    'wdth' 100,
    'YTLC' 500;
}

@mixin text-title($font-size: 16px) {
  font-family: 'Noto Sans', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: $font-size;
  font-style: normal;
  font-variation-settings: 'wdth' 100;
}

@mixin container {
  width: 1500px;
  margin: 0 auto;

  @media screen and (max-width: 1500px) {
    width: 1368px;
  }
  @media screen and (max-width: 1368px) {
    width: 960px;
  }
  @media screen and (max-width: 960px) {
    width: 768px;
  }
  @media screen and (max-width: 768px) {
    width: 100%;
    padding: 20px;
  }
}
